name: Run Python Script

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"   # every day at 12 PM UTC

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create client secret file
        run: |
          echo "${{ secrets.GOOGLE_CLIENT_SECRET }}" > Keys/client_secret.json
          echo "${{ secrets.GOOGLE_SERVICE_ACCOUNT }}" > Keys/service_account.json
          echo "${{ secrets.BASIC_DATA }}" > Keys/basic_data.json

      - name: Run Python Script
        run: python Sample_Run.py
